################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BootCamp/01week/10AccessModifiers.Field.Property/AccessModifiers.Field.Property/obj/Debug/net5.0/AccessModifiers.Field.Property.csproj.AssemblyReference.cache
